<h2>Service Outcome (CRM)</h2>
                                    <p>An enhanced Customer Relationship Management (CRM) will be developed which in turn improve customer retention and satisfaction by tracking interactions, managing leads, and optimizing customer support.</p>
                                    <ul class="service-single__list ul_li">
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Contact and lead management</li>
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Sales forecasting and pipeline tracking</li>
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Customer support and case management</li>
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Marketing automation and campaign tracking</li>
                                    </ul>
									

									<h2>Service Outcome (ERP)</h2>
                                    <ul class="service-single__list ul_li">
                                    <p>A comprehensive Enterprise Resource Planning (ERP) would be developed which will streamline your business processes across departments for better resource allocation and decision-making and improve...</p>
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Inventory and supply chain management</li>
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Financial and accounting solutions</li>
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Human resources and payroll management</li>
                                        <li><img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt="">Procurement, production, and distribution control</li>
                                    </ul>