{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content%}

            <!-- breadcrumb start -->
            <section class="breadcrumb bg_img" data-bg-color="#E7E9EE" data-background="{% static 'assets/img/bg/page_title.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="breadcrumb__content">
                                <h2 class="breadcrumb__title">{% page_attribute "page_title" %}</h2>
                                <ul class="breadcrumb__list clearfix">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item">{% page_attribute "page_title" %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->

            <!-- service cta start -->
            <section class="cta pt-60">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="service-cta-content" data-aos="fade-left" data-aos-duration="900">
                                <div class="sec-title about-sec-title mb-50">
                                    <span class="subtitle ul_li"><img src="{% static 'assets/img/icon/hr_icon.png' %}" alt="">
                                        Strategic Financial Guidance </span>
                                    <h2 class="title mb-35">Mastering Your Financial Future - Expert Financial
                                        Consulting Services</h2>

                                </div>
                                <a class="xb-btn" href="contact.html">Talk to an Expert</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-cta-img text-lg-end" data-aos="fade-left" data-aos-duration="900" data-aos-delay="200">
                                <img src="{% static 'assets/img/cta/cta_img2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service cta end -->

            <!-- services start -->
            <section class="services z-1 pos-rel pt-140 pb-150" data-bg-color="#E7E9EE">
                <div class="container px-60">
                    <div class="sec-title about-sec-title text-center mb-50">
                        <h2 class="title mb-35">Core Solutions</h2>
                    </div>
                    <div class="row g-12 mt-none-12">
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_08.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Guardian Financial <br>
                                            Planning</a></h3>
                                    <p class="xb-item--content">Guardian Group specialises in quality</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_09.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Legacy Capital <br>
                                            Planners</a></h3>
                                    <p class="xb-item--content">Secure your retirement with MAI</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_01.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Investment Portfolio
                                            Management</a></h3>
                                    <p class="xb-item--content">Grow and Protect Your Investments</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_03.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Estate Planning and
                                            Inheritance Guidance</a></h3>
                                    <p class="xb-item--content">Pass on Your Legacy Wisely</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_02.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Retirement Planning and
                                            Wealth Preservation</a></h3>
                                    <p class="xb-item--content">Prepare for Comfortable Retirement</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_04.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Comprehensive Financial
                                            Planning</a></h3>
                                    <p class="xb-item--content">Secure Your Financial Future</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_05.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Tax Optimization <br>
                                            Strategies</a></h3>
                                    <p class="xb-item--content">Minimize Your Tax Burden</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_06.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Debt Management and
                                            Reduction</a></h3>
                                    <p class="xb-item--content">Take Control of Your Debt</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xb-service xb-service1 mt-12">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/srv_07.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title"><a href="service-single.html">Risk Assessment and
                                            Insurance Solutions</a></h3>
                                    <p class="xb-item--content">Safeguard Against Life's Uncertainties</p>
                                    <div class="xb-item--shape">
                                        <img src="{% static 'assets/img/shape/srv_shape.png' %}" alt="">
                                    </div>
                                    <a class="xb-overlay" href="service-single.html"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xb-service__shape">
                    <div class="shape shape--1">
                        <img data-parallax='{"y": "-90"}' src="assets/img/shape/srv_shape1.png' %}" alt="">
                    </div>
                    <div class="shape shape--2">
                        <img data-parallax='{"y": "90"}' src="assets/img/shape/srv_shape2.png' %}" alt="">
                    </div>
                </div>
            </section>
            <!-- services end -->

            <!-- feature start -->
            <section class="feature pt-150 pb-150" data-background="{% static 'assets/img/bg/feat_bg.jpg' %}">
                <div class="container px-60">
                    <div class="row align-items-start mt-none-30">
                        <div class="col-xl-4 col-lg-4 mt-30" data-aos="fade-left" data-aos-duration="900">
                            <div class="sec-title sec-title--white">
                                <span class="subtitle ul_li"><img src="{% static 'assets/img/icon/hr_icon.png' %}" alt=""> Strategic
                                    Financial Guidance</span>
                                <h2 class="title mb-55">Your Financial <br> Future is Our <br> Commitment</h2>
                                <p class="mb-25">Our mission is to cultivate financial excellence in every aspect of our
                                    clients' lives. we are committed to providing</p>
                                <p>personalized, holistic financial solutions that align with our clients' unique
                                    aspirations and circumstances.</p>
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-3 col-lg-6 offset-lg-2 mt-30" data-aos="fade-left"
                            data-aos-duration="900" data-aos-delay="200">
                            <div class="xb-feature__wrap ul_li">
                                <div class="xb-feature xb-feature2 mt-70">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/feat_01.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title">Market Analysis</h3>
                                    <p class="xb-item--content">Offer in-depth market analysis and investment</p>
                                </div>
                                <div class="xb-feature xb-feature2 mt-70">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/feat_02.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title">Investment Insights</h3>
                                    <p class="xb-item--content">Assist clients with tax optimization strategies,</p>
                                </div>
                                <div class="xb-feature xb-feature2 mt-70">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/feat_03.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title">Estate Planning</h3>
                                    <p class="xb-item--content">Offer guidance on estate planning and wealth.</p>
                                </div>
                                <div class="xb-feature xb-feature2 mt-70">
                                    <div class="xb-item--icon">
                                        <img src="{% static 'assets/img/icon/feat_04.svg' %}" alt="">
                                    </div>
                                    <h3 class="xb-item--title">Risk Assessment</h3>
                                    <p class="xb-item--content">Offer in-depth market analysis and investment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- feature end -->

{% endblock %}